extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Miguel Ángel Valeriano-Cabrera

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | My name is Miguel and I have graduated from UNC at Charlotte with a Computer Engineering degree. I am currently working retail while adding coding projects under my belt through TeamTreeHouse, which is an online bootcamp. I have a passion for learning; whether it be new technologies through coding or new languages to breakdown barriers and communicate with a broader consumer base. I'm looking for new opportunities to increase my experience and knowledge in the software engineering field in the form of potential jobs.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Communication
          li Express
          li JavaScript
          li C++
          li Fast Learner
          li Time management
          li Problem solving
          li Fetch API
          li Research
          li Code Debugging 
          li jQuery
        h6 Contact Info

        ul
          li 919-830-3843
          li mavaleriano@live.com

        a.button.expanded(href='https://www.linkedin.com/in/mvaleria/', target="_blank") LinkedIn <br>
        a.button.expanded(href='https://github.com/mavaleriano', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  