<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='css/foundation.css')
    link(rel='stylesheet', href='css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='images/LinkedIN.jpg')
          .cell.auto

            h5 Miguel Ángel Valeriano-Cabrera

            p.text-light
              | I'm a recent graduate of UNC at Charlotte born in El Salvador. Growing up as an immigrant in this country has given me the blessing of being continuously exposed to multiple cultures and it's become a part of my drive to seek success tirelessly both to make my parents proud of the decision they made when I was young and to prove to myself that my effort is worth it.
 
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          //- This is for the mobile screen sized version of this app.
          span.title-bar-title Miguel Ángel Valeriano-Cabrera
      block content
        

      
  script(src='js/vendor/jquery.js')
  script(src='js/vendor/what-input.js')
  script(src='js/vendor/foundation.js')
  script(src='js/scripts.js')

  //- Having to remove all the /static/.. with each path as i receive an error when I include the extra static part.